/*text*/
.text-black{ color : #000 !important }
.text-white{ color: #fff !important; font-size: 1em !important ; text-transform: uppercase; }	
.text-sm { font-size: 0.953em !important }
.btn-default { 
	background: #fff !important; 
	border-color: #fff !important; 
	transition: all 0.6s cubic-bezier(0.42, 0, 0.95, 0.83);
	cursor: pointer;
}
.btn-default:hover, 
.btn-default:focus { 
	border:0px !important; 
	border-color:#f3f3f3 !important; 
	outline: none !important; 
	color: #616161 !important; }
	
.badge {
	cursor: pointer !important;
}

hr{
	width: 100%;
}

.card-title{
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.br-0{
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-ms-border-radius: 0 !important;
}

.stars{
	position: relative;
	float: left;
}

.star-1, .star-2, .star-3, .star-4, .star-5 {
background-image:url('../images/stuff/starts.png');
background-repeat: no-repeat;
background-position: center 0px ;
}
.star{
	width: 30px;
	height: 18px;
	float: left;
	border-right: 1px dotted #f1f1f1;
	overflow: hidden;
}
.star:first-child{
	border-left: 1px dotted #f1f1f1;
}
.stared{
background-position: center -57px !important;
}